{% extends "base.html" %}

{% block title %}
add_purchase
{% endblock %}

{% block content %}

<h1>New Purchase</h1>

<form method="POST">

<p>Supplier</p>

<select name="supplier">

{% for supplier in suppliers %}

<option value="{{ supplier.SupplierID }}">

{{ supplier.SupplierName }}

</option>

{% endfor %}

</select>

<p>Invoice Number</p>

<input
type="text"
name="invoice"
required>

<p>Notes</p>

<textarea
name="notes"></textarea>

<br><br>

<button>

Save Purchase

</button>

</form>

{% endblock %}