<!DOCTYPE html>
<html>

<head>

    <title>Edit Supplier</title>

</head>

<body>

<h1>Edit Supplier</h1>

<form method="POST">

    <p>Supplier Name</p>

    <input
        type="text"
        name="supplier_name"
        value="{{ supplier.SupplierName }}"
        required>

    <p>Phone</p>

    <input
        type="number"
        name="phone"
        value="{{ supplier.Phone }}"
        required>

    <p>Address</p>

    <input
        type="number"
        name="address"
        value="{{ supplier.Address }}"
        required>

    <br><br>

    <button type="submit">
        Update Supplier
    </button>

</form>

<br>

<a href="{{ url_for('suppliers.view_suppliers') }}">
    Back to Suppliers
</a>

</body>

</html>