{% extends "base.html" %}

{% block title %}
Receipt
{% endblock %}

{% block content %}

<div class="card shadow p-4">

    <div class="text-center">

        <h2>OKEYSAM INVENTORY SYSTEM</h2>

        <h4>SALES RECEIPT</h4>

    </div>

    <hr>

    <p><strong>Sale ID:</strong> {{ sale.SaleID }}</p>

    <p><strong>Customer:</strong> {{ sale.CustomerName }}</p>

    <p><strong>Date:</strong> {{ sale.SaleDate }}</p>

    <p><strong>Notes:</strong> {{ sale.Notes }}</p>

    <table class="table table-bordered">

        <thead class="table-dark">

        <tr>

            <th>Product</th>

            <th>Qty</th>

            <th>Unit Price</th>

            <th>Total</th>

        </tr>

        </thead>

        <tbody>

        {% for item in items %}

        <tr>

            <td>{{ item.ProductName }}</td>

            <td>{{ item.Quantity }}</td>

            <td>₦{{ "{:,.2f}".format(item.UnitPrice) }}</td>

            <td>₦{{ "{:,.2f}".format(item.TotalAmount) }}</td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

    <h3 class="text-end">

        Total :
        ₦{{ "{:,.2f}".format(total) }}

    </h3>

    <hr>

    <div class="text-center">

        <div class="text-center">

    <button
        class="btn btn-primary"
        onclick="window.print()">

        🖨 Print Receipt

    </button>

    <a
        href="{{ url_for('receipts.receipt_pdf',
        sale_id=sale.SaleID) }}"
        class="btn btn-success">

        📄 Download PDF

    </a>

</div>

    </div>

</div>

{% endblock %}