{% extends "base.html" %}

{% block title %}
sale_items
{% endblock %}

{% block content %}

<h1>Sale Items</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

            <div style="
                color:red;
                border:1px solid red;
                padding:10px;
                margin-bottom:15px;">

                {{ message }}

            </div>

        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST"
action="{{ url_for('sales.add_sale_item',
sale_id=sale_id) }}">

<p>Product</p>


<select name="product" class="form-select">

{% for product in products %}

<option value="{{ product.ProductID }}">
    {{ product.ProductName }}
</option>>

{% endfor %}

</select>

<p>Quantity</p>

<input
type="number"
name="quantity"
required>

<p>Unit price</p>

<input
type="number"
step="0.01"
name="unit_price"
required>

<br><br>

<button class="btn btn-primary">

Add Sale

</button>

</form>

<hr>

<table border="1" cellpadding="10">

<tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Total</th>
</tr>

{% for item in items %}

<tr>

    <td>{{ item.productname }}</td>

    <td>{{ item.Quantity }}</td>

    <td>{{ item.UnitPrice }}</td>

    <td>{{ item.TotalAmount }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}