{% extends "base.html" %}

{% block title %}
sales
{% endblock %}

{% block content %}

<h1>Sales</h1>
<a href="{{ url_for('sales.add_sale') }}" class="btn btn-primary">
    New Sale
</a>

<br><br>

<table class="table table-striped table-hover">

<tr>

    <th>ID</th>

    <th>Customer</th>

    <th>Date</th>

    <th>Notes</th>

    <th>Actions</th>

</tr>

{% for sale in sales %}

<tr>

    <td>{{ sale.SaleID }}</td>

    <td>{{ sale.CustomerName }}</td>

    <td>{{ sale.SaleDate }}</td>

    <td>{{ sale.Notes }}</td>

    <td>

        <a href="{{ url_for('sales.sale_items',
        sale_id=sale.SaleID) }}"
        class="btn btn-primary btn-sm">

            View Items

        </a>

        <a href="{{ url_for('receipts.sale_receipt',
        sale_id=sale.SaleID) }}"
        class="btn btn-success btn-sm">

            Receipt

        </a>

    </td>

</tr>

{% endfor %}

</table>

{% endblock %}